@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ApercuRegular";
    src: url('../public/fonts/apercu-regular.ttf') format("truetype");
    font-weight: lighter;
  }
  
  @font-face {
    font-family: "ApercuMedium";
    src: url('../public/fonts/apercu-medium.ttf') format("truetype");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Apercu";
    src: url('../public/fonts/apercu-bold.ttf') format('truetype');
    font-weight: bold;  /* Specify the font-weight this font face represents*/
  }
  
  
  @font-face {
    font-family: "CaeciliaLight";
    src: url('../public/fonts/CaeciliaComLight.ttf') format("truetype");
    font-weight: lighter;
  }
  
  @font-face {
    font-family: "CaeciliaMedium";
    src: url('../public/fonts/CaeciliaComSemi.ttf') format("truetype");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "CaeciliaBold";
    src: url('../public/fonts/CaeciliaComBold.ttf') format("truetype");
    font-weight: bold;
  }

  @layer components {
    .primary-btn {
      @apply h-14 w-64 mx-auto lg:ml-0 px-6 py-3 cursor-pointer 
      font-apercuMedium bg-blackLight border-2 border-orange-600 hover:bg-black transform 
      ease-in-out duration-300 text-center text-white rounded-lg;
    }
  }

  .background-image {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none; /* No background image here */
  }
  
  .background-image::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('../public/laptop.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: center top;
    filter: brightness(30%);
    z-index: -1;
  }

  .background-image-team {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none; /* No background image here */
  }
  
  .background-image-team::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('../public/BUBBG.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: center top;
    z-index: -1;
  }

  .background-image-collectibles {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none; /* No background image here */
  }
  
  .background-image-collectibles::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 70%;
    background-image: url('../public/BUBC.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: center top;
    z-index: -1;
  }



  /* Navbar animations */
  /* ========================== */

  /* @keyframes slideInExpand:
		This defines a new animation called slideInExpand.
		0%:
		-This represents the starting state of the animation.
		transform: translateX(-100%):
		-Moves the element completely off-screen to the left.
		scale(0.8):
		-Reduces the size of the element to 80% of its original size.
		opacity: 0:
		-Makes the element fully transparent (invisible).
		100%:
		-This represents the ending state of the animation.
		transform: translateX(0):
		-Moves the element to its original position on the screen.
		scale(1):
		-Restores the element to its full size (100%).
		opacity: 1:
		-Makes the element fully opaque (visible). */
@keyframes slideInExpand {
    0% {
      transform: translateX(-100%) scale(0.8);
      opacity: 0;
    }
    100% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }
  
  /* 1.	@keyframes slideOutShrink:
		This defines a new animation called slideOutShrink.
	    	0%:
    	This represents the starting state of the animation.
    	transform: translateX(0):
    	Keeps the element in its original position on the screen.
    	scale(1):
    	Maintains the element at its full size (100%).
    	opacity: 1:
    	Keeps the element fully opaque (visible).
	    	100%:
    	This represents the ending state of the animation.
    	transform: translateX(-100%):
    	Moves the element completely off-screen to the left.
    	scale(0.8):
    	Reduces the size of the element to 80% of its original size.
    	opacity: 0:
    	Makes the element fully transparent (invisible). */
  @keyframes slideOutShrink {
    0% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%) scale(0.8);
      opacity: 0;
    }
  }
  
  .navbar-open {
    animation: slideInExpand 0.2s forwards;
  }
  
  .navbar-close {
    animation: slideOutShrink 0.2s forwards;
  }
